.dashboard {
  padding: 40px 0;
}

.dashboard__title {
  font-size: 3rem;
}

.dashboard__form {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dashboard__message {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-accent-success-100);
  color: var(--color-secondary-100);
  font-size: 2.4rem;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.forms__item {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-secondary-300);
  display: flex;
  gap: 4px;
  align-items: center;
}

.forms__lock {
  font-size: 2rem;
  background-color: white;
  border-radius: 4px;
}

.forms__title {
  flex-grow: 1;
  font-size: 2rem;
}

.forms__btns {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dashboard__loader {
  display: flex;
  justify-content: center;
}
