.header {
  background-color: var(--color-primary-100);
  padding: 40px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 8px;
}

.header__account {
  width: 60px;
  height: 60px;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-secondary-100);
  background-color: var(--color-accent-success-100);
  position: relative;

  &:hover .header__list {
    visibility: visible;
    opacity: 1;
  }
}

.header__list {
  background-color: var(--color-primary-500);
  visibility: hidden;
  position: absolute;
  top: 100%;
  opacity: 0;
  transition: all 0.3s;
}

.header__link {
  color: var(--color-secondary-100);
  background-color: transparent;
  border: none;
  font-family: inherit;
}

